{% extends "frontend/layout/base_other.html" %}

{% block myotherstyle %}

<style>

</style>

{% endblock %}

{% block content %}

<div id="content" class="site-content | js-site-content">
    <main id="main" class="site-main site-main--404">
        <div class="page-404">
            <div class="page-404__bg"
                style="background-image: url('static/assets/images/hero-front.png')">
            </div>
            <div class="page-404__content page-404__content--privacy">

                <h1 class="page-404__heading">
                    About the Water Resources Management Authority (WRA) </h1>
                <div class="page-404__text">
                    <h3>Introduction</h3>
                    <p>
                        Water Resources Authority (WRA) is a state corporation established under Section 11 of the Water
                        Act, 2016. it is mandated through delegated Authority on behalf of the National government to
                        safeguard the right to clean water by ensuring that there is proper regulation of the management
                        and use of water resources, in order to ensure sufficient water for everyone- now and in the
                        future.However, the Authority has been in existence for 12 years following its establishment
                        under the Water Act, 2002 as Water Resources Management Authority (WRMA).

                        <br>
                        <br>

                        Our approach as an organization in safe guarding the resource is entrenched in the Country’s Big
                        4 development agenda, Vision 2030 strategic objective on water and sanitation and the SDG 6 all
                        these agenda’s and objectives aim to increase water resources availability for multipurpose use
                        but also improve the quality and sustainability of water resources.
                    </p>
                </div>
            </div>
        </div>
    </main><!-- #main -->


</div><!-- #content -->

{% endblock %}

{% block myotherjs %}
<script>


</script>
{% endblock %}